<div class="row" *ngIf="player">

    <div class="col-3">
        <div class="card">
            <img
                src="{{player.avatar.url || './assets/avatar.png'}}" 
                alt="{{player.userName}}"
                class="card-img-top img-thumbnail"
            >
            <div class="card-body">
                <div>
                    <h3 class="mb-4">{{player.userName}}</h3>
                </div>
                <div>
                    <strong>Member since:</strong>
                    <p>{{player.created | date: 'd MMMM yyyy'}}</p>
                </div>
                <div>
                    <strong>Last active:</strong>
                    <ng-container  *ngIf="presenceService.onlineUsers$ | async as onlineUsers">
                    <p 
                        *ngIf="onlineUsers.includes(player.userName); else offline"
                        class="text-info"
                    >
                        Online
                    </p>    
                    <ng-template #offline>
                        <p>{{player.lastActive | timeago}}</p>
                    </ng-template>    
                </ng-container>
                </div>
                
                

            </div>
            <div class="card-footer">
                <div class="btn-group d-flex my-2" *ngIf="user && user.userName === player.userName">

                    <button
                        routerLink="/edit-profile"
                        class="btn btn-outline-info me-1"
                    >
                        Edit profile&nbsp;&nbsp;&nbsp;<i class="bi bi-pencil"></i>
                    </button>

                </div>

                <div class="btn-group d-flex my-2" *ngIf="user && user.userName !== player.userName">

                    <button *ngIf="player.status === 3"
                        class="btn btn-outline-danger me-1"
                        (click)="deleteFriend()"
                    >
                        Delete&nbsp;&nbsp;&nbsp;<i class="bi bi-person-x"></i>
                    </button>

                    <button *ngIf="player.status === 0"
                        class="btn btn-outline-success me-1"
                        (click)="addFriend()"
                    >
                        Add&nbsp;&nbsp;&nbsp;<i class="bi bi-person-add"></i>
                    </button>

                    <button *ngIf="player.status === 2 && player.type === 2"
                        class="btn btn-outline-warning me-1"
                        (click)="cancelRequest()"
                    >
                        Cancel&nbsp;&nbsp;&nbsp;<i class="bi bi-person-dash"></i>
                    </button>

                    <button *ngIf="player.status === 2 && player.type === 1"
                        class="btn btn-outline-success me-1"
                        (click)="acceptRequest()"
                    >
                        Accept&nbsp;&nbsp;&nbsp;<i class="bi bi-person-check"></i>
                    </button>

                    <button 
                        class="btn btn-outline-info" 
                        (click)="messagePlayer()"
                    >
                        Message&nbsp;&nbsp;&nbsp;<i class="bi bi-chat-dots"></i>
                    </button>

                </div>
            </div>
            
        </div>        
    </div>

    <div class="col-9">
        <tabset class="custom-tabset">

            <tab heading="About">
                <h5 class="m-4">{{player.realname}}</h5>

                <div class="d-flex m-4">
                    <h6>{{player.country}}</h6>
                    <h6 *ngIf="player.country && player.city">,&nbsp;&nbsp;</h6>
                    <h6>{{player.city}}</h6>
                </div>

                <p class="m-4">{{player.summary}}</p>                
            </tab>

            <tab heading="Games">
                <div 
                    *ngIf="player.publications.length !== 0"
                    #scrollMe
                    style="height: 568px"
                    class="mt-2 scrollbar-light" id="scrollbar-light-style"
                    
                >
                    <div *ngFor="let game of player.publications">
                        <app-game-card-mini [game]="game"></app-game-card-mini>
                    </div>
                </div>
                <div *ngIf="player.publications.length === 0">
                    <h5 class="text-center my-4">No games published</h5>
                </div>
            </tab>

            <tab heading="Reviews">
                <div 
                    *ngIf="!loadingReviews && reviews.length !== 0"
                    #scrollMe
                    style="height: 568px"
                    class="mt-2 scrollbar-light" id="scrollbar-light-style">
                    <div *ngFor="let review of reviews">
                        <app-player-review [review]="review"></app-player-review>
                    </div>
                </div>
                <div [hidden]="loadingReviews" *ngIf="reviews.length === 0">
                    <h5 class="text-center my-4">No reviews posted</h5>
                </div>
            </tab>
            
        </tabset>
    </div>

</div>