<div class="row" *ngIf="friend">

    <div class="col-3">
        <div class="card">

            <img 
                src="{{friend.player.avatar.url || './assets/avatar.png'}}" 
                alt="{{friend.player.userName}}"
                class="card-img-top img-thumbnail"
            >
            <div class="card-body">
                <div>
                    <h3 class="mb-4">{{friend.player.userName}}</h3>
                </div>
                <div>
                    <strong>Member since:</strong>
                    <p>{{friend.player.created + 'Z' | date: 'd MMMM yyyy'}}</p>
                </div>
                <div>
                    <strong>Last active:</strong>
                    <p>{{friend.player.lastActive + 'Z' | timeago}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">

                    <button *ngIf="friend.status === 3"
                        class="btn btn-outline-danger me-1"
                        (click)="deleteFriend()"
                    >
                        Delete&nbsp;&nbsp;&nbsp;<i class="bi bi-person-slash"></i>
                    </button>

                    <button *ngIf="friend.status === 0"
                        class="btn btn-outline-success me-1"
                        (click)="addFriend()"
                    >
                        Add&nbsp;&nbsp;&nbsp;<i class="bi bi-person"></i>
                    </button>

                    <button *ngIf="friend.status === 2 && !isIncomeRequest"
                        class="btn btn-outline-warning me-1"
                        (click)="cancelRequest()"
                    >
                        Cancel&nbsp;&nbsp;&nbsp;<i class="bi bi-person-slash"></i>
                    </button>

                    <button *ngIf="friend.status === 2 && isIncomeRequest"
                        class="btn btn-outline-success me-1"
                        (click)="acceptRequest()"
                    >
                        Accept&nbsp;&nbsp;&nbsp;<i class="bi bi-person"></i>
                    </button>

                    <button 
                        class="btn btn-outline-info" 
                        (click)="messagePlayer()"
                    >
                        Message&nbsp;&nbsp;&nbsp;<i class="bi bi-chat-dots"></i>
                    </button>

                </div>
            </div>
            
        </div>        
    </div>

    <div class="col-9">
        <tabset class="custom-tabset">

            <tab heading="About">
                <h5 class="m-4">{{friend.player.realname}}</h5>

                <div class="d-flex m-4">
                    <h6>{{friend.player.country}}</h6>
                    <h6 *ngIf="friend.player.country && friend.player.city">,&nbsp;&nbsp;</h6>
                    <h6>{{friend.player.city}}</h6>
                </div>

                <p class="m-4">{{friend.player.summary}}</p>                
            </tab>

            <tab heading="Games">
                <h4>games</h4>
            </tab>

            <tab heading="Review">
                <h4>reviews</h4>
            </tab>
            
        </tabset>
    </div>

</div>