.game-moderation-card {
    background-color: #222222;
}

.game-moderation-card-cursor {
    cursor: pointer;
}

.game-moderation-card-title {
    margin-top: 12px;
}

.game-moderation-card-img {
    height: 40px;
    margin: 5px;
    cursor: pointer;
}

.game-moderation-card-button {
    margin-top: 6px;
}