<div class="mb-3">

    <input
        class="form-control"
        [formControl]="control"
        [class.is-invalid]="control.touched && control.invalid"
        type={{type}}
        placeholder={{label}}
    >

    <div class="invalid-feedback" *ngIf="control.errors?.['required']">
        {{label}} is required
    </div>

    <div 
        class="invalid-feedback" 
        *ngIf="!control.errors?.['required'] && control.errors?.['whiteSpace']"
    >
        {{label}} must not start or end with whitespace
    </div>

    <div class="invalid-feedback" 
        *ngIf="!control.errors?.['required'] && control.errors?.['notAlphaNumeric']"
    >
        Only letters and numbers allowed
    </div>

    <div class="invalid-feedback" 
        *ngIf="!control.errors?.['required'] && control.errors?.['notAlphaNumericSpaceColon']"
    >
        Only letters, numbers, space and colon allowed
    </div>

    <div class="invalid-feedback" *ngIf="control.errors?.['minlength']">
        {{label}} must be at least {{control.errors?.['minlength'].requiredLength}} characters
    </div>

    <div class="invalid-feedback" *ngIf="control.errors?.['maxlength']">
        {{label}} must be at most {{control.errors?.['maxlength'].requiredLength}} characters
    </div>

    <div class="invalid-feedback" *ngIf="control.value.length > 0 && control.errors?.['notMatching']">
        Passwords do not match
    </div>

</div>