.nav-tabs > li.open, .custom-tabset > .nav-tabs > li:hover {
  border-bottom: 4px solid #3498D0;
}

.custom-tabset > .nav-tabs > li.open > a, .custom-tabset > .nav-tabs > li:hover > a {
  color: #3498D0;
}

.custom-tabset > .nav-tabs > li.active {
  border-bottom: 4px solid #00BC6F;
}

.custom-tabset > .nav-tabs > li.active > a {
  color: #00BC6F;
}

.custom-tabset > .tab-content {
  background-color: #303030;
  padding: 10px;
}

.custom-tabset > .nav-tabs .nav-item .nav-link.active {
  color: #00BC6F;
}

.form-control {
  background-color: #404040;
  color: white;
}

.form-control:focus {
  background-color: #505050;
  color: white;
}

.form-check-input {
  background-color: #606060;
  margin-right: 10px;
}

.scrollbar-light
{
	background: #303030;
	overflow-y: scroll;
  overflow-x: hidden;
}

#scrollbar-light-style::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
	background-color: #303030;
}

#scrollbar-light-style::-webkit-scrollbar
{
	width: 6px;
	background-color: #303030;
}

#scrollbar-light-style::-webkit-scrollbar-thumb
{
	background-color: #222222;
}

.scrollbar-dark
{
	background: #222222;
	overflow-y: scroll;
  overflow-x: hidden; 
}

#scrollbar-dark-style::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
	background-color: #222222;
}

#scrollbar-dark-style::-webkit-scrollbar
{
	width: 6px;
	background-color: #303030;
}

#scrollbar-dark-style::-webkit-scrollbar-thumb
{
	background-color: #303030;
}