input[type=file] {
    color: transparent;
}

input[type=file]::file-selector-button {
  border: 2px solid #3498D0;
  padding: .2em .4em;
  border-radius: .2em;
  background-color: #3498D0;
}

input[type=file]::file-selector-button:hover {
  background-color: #00BC6F;
  border: 2px solid #00BC6F;
}

.uploader-button {
    width: 135px;
    height: 34px;
}

.custom-bar {
    margin-top: 20px;
    margin-left: 10px;
    width: 190px;
}

.custom-bytes {
    margin-top: 17px;
    margin-left: -19px;
}

.custom-input {
    margin-left: 10px;
}