<div class="container col-3">

    <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">

        <h2 class="text-center text-primary mb-3">Login</h2>

        <div class="mb-3">
            <input
                name="username"
                [(ngModel)]="model.username"
                type="text"
                class="form-control"
                placeholder="Username"
            >
        </div>

        <div class="mb-3">
            <input
                name="password"
                [(ngModel)]="model.password"
                type="password"
                class="form-control"
                placeholder="Password"
            >
        </div>

        <div class="text-center">
            <button class="btn btn-success me-2" type="submit">Login</button>
            <button class="btn btn-secondary" type="button" (click)="cancel()">Cancel</button>
        </div>

    </form>

</div>
