.message-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.avatar-placeholder {
  width: 40px;
}

.message-text-recipient {
	color: #3498D0;
  width: 500px;
}

.message-text-currentuser {
	color: #00BC6F;
  width: 500px;
  text-align: right;
}

.message-timestamp {
  font-size: smaller;
  margin-top: 12px;
}

.message-read {
  font-size: xx-large;
  color: #3498D0;
}

.message-not-read {
  font-size: xx-large;
}

.message-delete-button-right {
  font-size: small;
  color: #e74d3c95;
  margin-top: -6px;
  margin-right: -20px;
}

.message-delete-button-left {
  font-size: small;
  color: #e74d3c95;
  margin-top: -6px;
  margin-left: -20px;
}