.img-thumbnail {
    margin: 25px;
    width: 85%;
    height: 85%;
}

.card-body {
    padding: 0 25px;
}

.card-footer {
    padding: 10px 15px;
    background-color: #303030;
    border-top: none;
}

.changes-alert {
    height: 54px;
}

input[type=file] {
    color: transparent;
}

input[type=file]::file-selector-button {
  border: 2px solid #3498D0;
  padding: .2em .4em;
  border-radius: .2em;
  background-color: #3498D0;
}

input[type=file]::file-selector-button:hover {
  background-color: #00BC6F;
  border: 2px solid #00BC6F;
}

.uploader-button {
    width: 120px;
    height: 34px;
    margin-left: -16px;
}

.custom-bar {
    margin-left: 39px;
    width: 150px;
}

.custom-bytes {
    margin-top: -3px;
    margin-left: 16px;
}

.custom-input {
    margin-left: 6px;
}