<div class="row" *ngIf="player">
    
    <div class="col-3 my-2">
        <h2 class="text-center text-info">Edit Profile</h2>
    </div>
    <div class="col-9">
        <div class="alert alert-warning changes-alert mx-1" *ngIf="isDirty()">
            <p>You have made changes. Any unsaved changes will be lost.</p>
        </div>
    </div>

    <div class="col-3">
        <div class="card">
            <img 
                src="{{player.avatar.url || './assets/avatar.png'}}" 
                alt="{{player.userName}}"
                class="card-img-top img-thumbnail"
            >    
      
            <div class="row mb-4" *ngIf="uploader">
                <div class="row">
                    <div class="col-8">
                        <div class="progress mb-2 custom-bar">
                            <div
                                class="progress-bar"
                                role="progressbar" 
                                [ngStyle]="{ 'width': uploader.progress + '%' }"
                            ></div>
                        </div> 
                    </div>
                    <div class="col-4 custom-bytes">
                        <h6 *ngIf="uploader.queue.length > 0">
                            {{uploader.queue[0].file.size/1024/1024 | number:'.2'}} mb
                        </h6>
                        <h6 *ngIf="uploader.queue.length === 0">
                            0.000 mb
                        </h6>
                    </div>
                </div>
                 
                <div class="row custom-input">
                    <div style="width: 138px;" class="ms-4">
                        <input class="form-control-info" type="file" ng2FileSelect [uploader]="uploader">
                    </div>
                    <button type="button" class="btn btn-outline-success btn-sm uploader-button"
                        (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                        Upload&nbsp;&nbsp;&nbsp;<span class="fa fa-upload"></span>
                    </button>
                </div>
            </div>

            <div class="card-body">
                <div>
                    <h3 class="mb-4">{{player.userName}}</h3>
                </div>
                <div>
                    <strong>Member since:</strong>
                    <p>{{player.created + 'Z' | date: 'd MMMM yyyy'}}</p>
                </div>
            </div>
            <div class="card-footer">
                <button 
                    class="btn btn-outline-danger col-12"
                    (click)="deleteUser()"
                >
                    Delete profile&nbsp;&nbsp;&nbsp;
                    <i class="bi bi-trash3"></i>
                </button>
            </div>
        </div>        
    </div>

    <div class="col-9">
        <tabset class="custom-tabset">

            <tab heading="About">
                <form [formGroup]="editForm" (ngSubmit)="editForm.valid && updatePlayer()" autocomplete="off">
                    
                    <h4 class="mt-4 text-warning">Real name</h4>
                    <app-text-input
                        [formControl]="$any(editForm.get('realname'))"
                        [label]="'Real name'"
                    ></app-text-input>

                    <h4 class="mt-4 text-warning">Summary</h4>
                    <app-textarea-input 
                        [formControl]="$any(editForm.get('summary'))"
                    ></app-textarea-input>
                    
                    <h4 class="mt-4 text-warning">Location</h4>
                    <div class="row">
                        <app-text-input class="col-6"
                            [formControl]="$any(editForm.get('country'))"
                            [label]="'Country'"
                            [placeholder]="'Country'"
                        ></app-text-input>
                        <app-text-input class="col-6"
                            [formControl]="$any(editForm.get('city'))"
                            [label]="'City'"
                            [placeholder]="'City'"
                        ></app-text-input>
                    </div>

                    <div class="row ms-4" *ngIf="validationErrors">
                        <ul class="text-danger">
                            <li *ngFor="let error of validationErrors">
                                {{error}}
                            </li>
                        </ul>
                    </div>

                    <div class="text-center">
                        <button
                            class="btn btn-outline-success mt-4 col-4 mx-auto"
                            type="submit"
                            [disabled]="!isDirty() || !editForm.valid || updating"
                            >Save changes&nbsp;&nbsp;&nbsp;
                            <i class="bi bi-floppy"></i>
                        </button>
                    </div>                  
                </form>
            </tab>

            <tab heading="Reviews">
                <h4>reviews will go here</h4>
            </tab>

            <tab heading="Messages">
                <h4>messages will go here</h4>
            </tab>
            
        </tabset>
    </div>
</div>