<div class="row mb-4" *ngIf="uploader">
    <div class="mb-4">
        <table class="table-dark">
            <tbody>
                <tr *ngFor="let item of uploader.queue">
                    <td><strong>{{item.file.name}}&nbsp;&nbsp;&nbsp;</strong></td>
                    <td *ngIf="uploader.options.isHTML5" nowrap>{{item.file.size/1024/1024 | number:'.2'}} mb</td>
                </tr>
            </tbody>
        </table>
        <div>
            <div class="progress mb-2">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
            </div>
            <div class="row">
                <div style="width: 138px;" class="ms-2">
                    <input class="form-control-info" type="file" ng2FileSelect [uploader]="uploader" multiple>
                </div>
                <button type="button" class="btn btn-outline-success btn-sm uploader-button me-1"
                    (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                    Upload&nbsp;&nbsp;&nbsp;<span class="fa fa-upload"></span>
                </button>
                <button type="button" class="btn btn-outline-warning btn-sm uploader-button me-1"
                        (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                    Cancel&nbsp;&nbsp;&nbsp;<span class="fa fa-ban"></span>
                </button>
                <button type="button" class="btn btn-outline-danger btn-sm uploader-button me-1"
                        (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                    Remove&nbsp;&nbsp;&nbsp;<span class="bi bi-trash3"></span>
                </button>
            </div>            
        </div>
    </div>
</div>

<div *ngIf="game">
    <div class="row" *ngIf="game.screenshots.length > 0">
        <div class="col-3" *ngFor="let screenshot of game.screenshots">
            <img src="{{screenshot.url}}" alt="screenshot" class="img-thumbnail mb-1">
            <div class="text-center">
                <div class="btn btn-outline-danger btn-sm mb-3" (click)="deleteScreenshot(screenshot.id)">
                    Delete&nbsp;&nbsp;&nbsp;<i class="bi bi-trash3"></i>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="game.screenshots.length === 0">
        <h5 class="text-center mb-3">No screenshots loaded</h5>
    </div>
</div>