<div class="row">

    <div class="col-4">

        <div *ngFor="let friend of friends">
            <app-contact-card (loadMessages)="loadMessages($event)" [player]="friend"></app-contact-card>
        </div>

    </div>

    <div class="col-8">
        
        <div class="card">

            <div class="card-body" *ngIf="messages">
                <div *ngFor="let message of messages; let i = index">
                    <app-message
                        [previousMessage]="i === 0 ? undefined : messages[i-1]"
                        [message]="messages[i]"
                        [nextMessage]="i === messages.length ? undefined : messages[i+1]"
                        [currentUser]="user?.username"
                    ></app-message>
                </div>
            </div>

            <div class="card-footer">
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control input-sm">
                        <div class="input-group-append">
                            <button class="btn btn-success ms-2" type="submit">
                                <i class="bi bi-caret-right-fill"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            
        </div>  

    </div>

</div>