<div class="row">

    <div class="col-4">
        <div *ngFor="let companion of companions">
            <app-contact-card (loadMessages)="loadMessages($event)" [player]="companion"></app-contact-card>
        </div>
    </div>

    <div class="col-8">
        <div>
            <div class="row">
                <h4 
                    class="d-inline text-info ms-4 mt-2 col-7"
                >   
                    &nbsp;&nbsp;<i class="bi bi-chat-dots"></i>
                    &nbsp;&nbsp;{{getCurrentConversant()}}
                </h4>
                <button 
                    class="btn btn-outline-danger mb-2 col-2 me-1"
                    [disabled]="messages.length === 0"
                    (click)="deleteMessages()"
                >
                    Clear Chat&nbsp;&nbsp;&nbsp;<i class="bi bi-trash3"></i>
                </button>
                <button 
                    class="btn btn-outline-danger mb-2 col-2"
                    [disabled]="messages.length === 0"
                    (click)="deleteCompanion()"
                >   
                    Delete Chat&nbsp;&nbsp;&nbsp;<i class="bi bi-trash3"></i>
                </button>
            </div>

            <div class="card">

                <div class="card-body" *ngIf="!loading && messages && messages.length !== 0">
                    <div *ngFor="let message of messages; let i = index">
                        <app-message
                            (deleteMessage)="deleteMessage($event)"
                            [previousMessage]="i === 0 ? undefined : messages[i-1]"
                            [currentMessage]="messages[i]"
                            [nextMessage]="i === messages.length ? undefined : messages[i+1]"
                            [currentUser]="user?.userName"
                        ></app-message>
                    </div>
                </div>

                <div class="card-footer">
                    <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
                        <div class="input-group">
                            <input 
                                name="content"
                                required
                                [(ngModel)]="content"
                                type="text"
                                class="form-control input-sm"
                            >
                            <div class="input-group-append">
                                <button 
                                    [disabled]="!messageForm.valid || sending || getCurrentConversant().length === 0"
                                    class="btn btn-success ms-2"
                                    type="submit"
                                >
                                    Send&nbsp;&nbsp;&nbsp;<i class="bi bi-caret-right-fill"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>

    </div>

</div>