.friend-card-body {
    background-color: #222222;
    cursor: pointer;
}

.friend-card-img {
    width: 60px;
	height: 60px;
    object-fit: cover;
    margin: 10px;
    border-radius: 25%;
}

.friend-card-buttons {
    margin-top: 12px;
    margin-left: -25px;
}