<div class="row" *ngIf="game">
    
    <div class="col-8">
        <tabset class="player-tabset">
            <tab heading="Description">
                <h4>Description will go here</h4>
            </tab>
            <tab heading="Reviews">
                <h4>Reviews will go here</h4>
            </tab>
            <tab heading="Screenshots" #screenshotTab="tab" class="gallery">
                <gallery *ngIf="screenshotTab.active" [items]="screenshots"></gallery>
            </tab>
        </tabset>
    </div>
    
    <div class="col-4">
        <div class="card">
            <img 
                src="{{game.poster.url || './assets/avatar.png'}}"
                alt="{{game.title}}"
                class="card-img-top img-thumbnail avatar"
            >
            <div class="card-body">
                <div>
                    <h3 class="mb-4">{{game.title}}</h3>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex mb-2">
                    <button class="btn btn-outline-success">Add to library</button>
                    <button class="btn btn-outline-info">Add to wishlist</button>
                </div>
            </div>
        </div>        
    </div>

</div>