<div class="card mb-4 game-card-button" *ngIf="game" routerLink="/games/{{game.title}}">
    <div class="row">
        <div class="col-5">
            <img 
                class="game-card-img"
                src="{{game.poster.url || './assets/poster.png'}}"
                alt="{{game.title}}"
            >
        </div>
        <div class="col-7">
            <h4 class="text-right my-4">
                {{game.title}}
            </h4>

            <h5>
                <i class="bi bi-windows me-3"></i>
                <i class="bi bi-apple me-3"></i>
                <i class="fa fa-linux me-3"></i>
            </h5>           

            <h6 class="text-muted mt-4">Platformer, Role-play, Pixel-art, Turn-based</h6>

            <h5 style="text-align: right;" class="text-right mt-2 me-4">Free</h5>
        </div>
    </div>
</div>