<div class="row">

    <h3 class="text-center text-info mb-4">🎮 Welcome to GameHub! 🚀</h3>

    <div class="col-6 mx-auto">

        <p class="mt-4">
            Unleash your creativity and connect with like-minded game-loving programmers!
            <br>
            GameHub is your go-to platform for showcasing, sharing, and discussing self-made games.
        </p>

        <p class="mt-4">
            📱 Mobile Version in Progress! Stay tuned for updates!
        </p>
        
        <p class="mt-4">
            📝 Registration required to join our vibrant community. Sign up now!
        </p>
    
        <p class="mt-4">
            🌐 Explore Games: Dive into a diverse universe of games created by talented programmers.
        </p>
    
        <p>
            🤝 Connect: Forge connections, collaborate, and learn from fellow enthusiasts.
        </p>
    
        <p>
            💬 Communicate: Engage in discussions, share insights, and form alliances.
        </p>
    
        <p>
            📝 Reviews: Be a critic, share feedback, and contribute to the gaming community.
        </p>
    
        <p>
            ✉️ Messaging: Connect personally with private messaging.
        </p>
    
        <p>
            🌟 Showcase: Spotlight your creations and inspire others worldwide.
        </p>
    
        <p>
            🕹️ Join us at GameHub, where coding meets gaming and imagination knows no bounds!
        </p>

        <p class="mt-4">
            👨‍💻 Want to contribute to development of GameHub? Come and join us on
            <a href="https://github.com/Heathro/GameHub" target="_blank">GitHub</a>!
        </p>

    </div>
    
</div>