<div class="row" *ngIf="game">
    
    <div class="col-8">
        <tabset class="custom-tabset">

            <tab heading="About">

                <h6 class="m-4">{{game.description}}</h6>

                <div class="m-4">
                    <h6 class="text-muted d-inline" *ngIf="game.genres.action">Action&nbsp;&nbsp;</h6>
                    <h6 class="text-muted d-inline" *ngIf="game.genres.adventure">Adventure&nbsp;&nbsp;</h6>
                    <h6 class="text-muted d-inline" *ngIf="game.genres.card">Card&nbsp;&nbsp;</h6>
                    <h6 class="text-muted d-inline" *ngIf="game.genres.educational">Educational&nbsp;&nbsp;</h6>
                    <h6 class="text-muted d-inline" *ngIf="game.genres.fighting">Fighting&nbsp;&nbsp;</h6>
                    <h6 class="text-muted d-inline" *ngIf="game.genres.horror">Horror&nbsp;&nbsp;</h6>
                    <h6 class="text-muted d-inline" *ngIf="game.genres.platformer">Platformer&nbsp;&nbsp;</h6>
                    <h6 class="text-muted d-inline" *ngIf="game.genres.puzzle">Puzzle&nbsp;&nbsp;</h6>
                    <h6 class="text-muted d-inline" *ngIf="game.genres.racing">Racing&nbsp;&nbsp;</h6>
                    <h6 class="text-muted d-inline" *ngIf="game.genres.rhythm">Rhythm&nbsp;&nbsp;</h6>
                    <h6 class="text-muted d-inline" *ngIf="game.genres.roleplay">Roleplay&nbsp;&nbsp;</h6>
                    <h6 class="text-muted d-inline" *ngIf="game.genres.shooter">Shooter&nbsp;&nbsp;</h6>
                    <h6 class="text-muted d-inline" *ngIf="game.genres.simulation">Simulation&nbsp;&nbsp;</h6>
                    <h6 class="text-muted d-inline" *ngIf="game.genres.sport">Sport&nbsp;&nbsp;</h6>
                    <h6 class="text-muted d-inline" *ngIf="game.genres.stealth">Stealth&nbsp;&nbsp;</h6>
                    <h6 class="text-muted d-inline" *ngIf="game.genres.strategy">Strategy&nbsp;&nbsp;</h6>
                    <h6 class="text-muted d-inline" *ngIf="game.genres.survival">Survival&nbsp;&nbsp;</h6>
                </div>

            </tab>

            <tab heading="Screenshots" #screenshotTab="tab" class="gallery">
                <gallery 
                    *ngIf="screenshots.length > 0 && screenshotTab.active" 
                    [items]="screenshots"
                ></gallery>
                <div *ngIf="screenshots.length === 0">
                    <h5 class="text-center my-4">No screenshots posted</h5>
                </div>
            </tab>

            <tab heading="Video" #videoTab="tab">
                <iframe
                    *ngIf="game.video.length > 0 && videoTab.active"
                    width="836"
                    height="470"
                    [src]="sanitizeVideoUrl(getVideo())"
                    frameborder="0"
                    allowfullscreen
                ></iframe>
                <div *ngIf="game.video.length === 0">
                    <h5 class="text-center my-4">No video posted</h5>
                </div>
            </tab>

            <tab heading="Reviews">
                <div 
                    *ngIf="!loadingReviews && reviews.length !== 0"
                    #scrollMe
                    style="height: 568px"
                    class="mt-2 scrollbar-light" id="scrollbar-light-style"
                >
                    <div *ngFor="let review of reviews">
                        <app-game-review [review]="review"></app-game-review>
                    </div>
                </div>
                <div *ngIf="reviews.length === 0">
                    <h5 class="text-center my-4">No reviews posted</h5>
                </div>
            </tab>
            
            <tab heading="Downloads">                
                <div *ngIf="game.files.windowsName.length === 0 && 
                            game.files.macosName.length === 0 &&
                            game.files.linuxName.length === 0">
                    <h5 class="text-center my-4">No files uploaded</h5>
                </div>

                <div class="mx-3 my-4" *ngIf="game.files.windowsName.length > 0">
                    <h4 class="text-warning">Windows</h4>
                    <div class="d-flex">
                        <button class="btn btn-outline-info" (click)="download(0)">
                            Download&nbsp;&nbsp;&nbsp;<span class="fa fa-download"></span>
                        </button>
                        <h6 class="ms-4 mt-2">
                            {{game.files.windowsName}}&nbsp;&nbsp;&nbsp;{{formatFileSize(game.files.windowsSize)}} mb
                        </h6>
                    </div>
                </div>

                <div class="mx-3 my-4" *ngIf="game.files.macosName.length > 0">
                    <h4 class="text-warning">MacOS</h4>
                    <div class="d-flex">
                        <button class="btn btn-outline-info" (click)="download(1)">
                            Download&nbsp;&nbsp;&nbsp;<span class="fa fa-download"></span>
                        </button>
                        <h6 class="ms-4 mt-2">
                            {{game.files.macosName}}&nbsp;&nbsp;&nbsp;{{formatFileSize(game.files.macosSize)}} mb
                        </h6>
                    </div>
                </div>

                <div class="mx-3 my-4" *ngIf="game.files.linuxName.length > 0">
                    <h4 class="text-warning">Linux</h4>
                    <div class="d-flex">
                        <button class="btn btn-outline-info" (click)="download(2)">
                            Download&nbsp;&nbsp;&nbsp;<span class="fa fa-download"></span>
                        </button>
                        <h6 class="ms-4 mt-2">
                            {{game.files.linuxName}}&nbsp;&nbsp;&nbsp;{{formatFileSize(game.files.linuxSize)}} mb
                        </h6>
                    </div>
                </div>
            </tab>
            
        </tabset>
    </div>
    
    <div class="col-4">
        <div class="card">

            <img 
                src="{{game.poster.url || './assets/poster.png'}}"
                alt="{{game.title}}"
                class="card-img-top img-thumbnail"
            >
            <div class="card-body">
                <h3 class="mb-4">{{game.title}}</h3>
                <h5 class="my-4">
                    <i class="bi bi-windows me-3" *ngIf="game.platforms.windows"></i>
                    <i class="bi bi-apple me-3" *ngIf="game.platforms.macos"></i>
                    <i class="bi bi-ubuntu me-3" *ngIf="game.platforms.linux"></i>
                </h5>
                <h6 class="mb-4">{{game.release | date:'dd MMMM yyyy'}}</h6>
                <div class="mt-4 d-flex justify-content-between">
                    <h5 class="d-inline click-cursor" routerLink="/players/{{game.publisher}}">
                        by {{game.publisher}}
                    </h5>
                    <div class="d-inline click-cursor" (click)="likeGame();$event.stopPropagation()">
                        <h5 class="d-inline mx-2">
                            <i class="bi bi-hand-thumbs-up-fill" *ngIf="isLiked"></i>
                            <i class="bi bi-hand-thumbs-up" *ngIf="!isLiked"></i>
                        </h5>
                        <h5 class="d-inline">
                            {{game.likes.length}}
                        </h5>
                    </div>
                </div> 
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex my-2">

                    <button 
                        *ngIf="!isBookmarked"
                        (click)="bookmarkGame()"
                        class="btn btn-outline-success me-1"
                    >
                        Add Bookmark&nbsp;&nbsp;&nbsp;<i class="bi bi-bookmark-check"></i>
                    </button>

                    <button 
                        *ngIf="isBookmarked"
                        (click)="bookmarkGame()"
                        class="btn btn-outline-warning me-1"
                    >
                        Remove Bookmark&nbsp;&nbsp;&nbsp;<i class="bi bi-bookmark-dash"></i>
                    </button>
                    
                    <button *ngIf="isPublished"
                        class="btn btn-outline-info"
                        routerLink="/games/{{game.title}}/edit"
                    >
                        Edit Game&nbsp;&nbsp;&nbsp;<i class="bi bi-pencil"></i>
                    </button>
                    
                    <button *ngIf="!isPublished"
                        class="btn btn-outline-info"
                        routerLink="/reviews/{{game.title}}"
                    >
                        Review Game&nbsp;&nbsp;&nbsp;<i class="bi bi-feather"></i>
                    </button>

                </div>
            </div>

        </div>   
    </div>

</div>