.role-card-img {
    cursor: pointer;
    width: 40px;
    margin: 5px;
}

.role-card-name {
    cursor: pointer;
    margin-top: 13px;
}

.role-card-checkboxes {
    margin-top: 13px;
}

.role-button-row {
    margin-top: 6px;
}

.role-card-body {
    background-color: #222222;
}