<div class="tab-panel">
    <tabset class="custom-tabset">

        <tab heading="Reviews" *HasRole="['Admin', 'Moderator']">
            <div class="container">
                <app-review-management></app-review-management>
            </div>
        </tab>

        <tab heading="Games" *HasRole="['Admin', 'Moderator']">
            <div class="container">
                <app-game-management></app-game-management>
            </div>
        </tab>

        <tab heading="Users" *HasRole="['Admin']">
            <div class="container">
                <app-user-management></app-user-management>
            </div>
        </tab>

    </tabset>
</div>