<div class="card mb-2 me-2 contact-card-button" *ngIf="player" (click)="changeDialogue()">
    <div class="row">
        <div class="col-3">
            <img 
                class="contact-card-img ms-4"
                src="{{player.avatar.url || './assets/avatar.png'}}"
                alt="{{player.username}}"
            >
        </div>
        <div class="col-9">
            <h5 class="text-right mt-3">
                {{player.username}}
            </h5>
            <h6 class="text-muted text-right">Last Online: {{player.lastActive + 'Z' | timeago}}</h6>
        </div>
    </div>
</div>