<div class="container">

    <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && login()" autocomplete="off">

        <h2 class="text-center text-info mb-3">Login</h2>

        <div class="row">
            <div class="col-md-4 offset-md-4">
                <app-text-input
                    [formControl]="$any(loginForm.controls['username'])"
                    [label]="'Username'"
                    [placeholder]="'Username'"
                ></app-text-input>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 offset-md-4">
                <app-text-input
                    [formControl]="$any(loginForm.controls['password'])"
                    [label]="'Password'"
                    [placeholder]="'Password'"
                    [type]="'password'"
                ></app-text-input>
            </div>
        </div>

        <div class="row" *ngIf="validationErrors">
            <div class="col-md-4 offset-md-4">
                <ul class="text-danger">
                    <li *ngFor="let error of validationErrors">
                        {{error}}
                    </li>
                </ul>
            </div>
        </div>

        <div class="text-center">
            <button
                [disabled]="!loginForm.valid || loging"
                class="btn btn-success me-2" 
                type="submit"
            >Login</button>

            <button 
                class="btn btn-secondary"
                type="button" 
                routerLink="/"
            >Cancel</button>
        </div>

    </form>

</div>