<div class="container col-3">

    <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && login()" autocomplete="off">

        <h2 class="text-center text-info mb-3">Login</h2>

        <app-text-input
            [formControl]="$any(loginForm.controls['username'])"
            [label]="'Username'"
            [placeholder]="'Username'"
        ></app-text-input>

        <app-text-input
            [formControl]="$any(loginForm.controls['password'])"
            [label]="'Password'"
            [placeholder]="'Password'"
            [type]="'password'"
        ></app-text-input>

        <div class="row" *ngIf="validationErrors">
            <ul class="text-danger">
                <li *ngFor="let error of validationErrors">
                    {{error}}
                </li>
            </ul>
        </div>

        <div class="text-center">
            <button
                [disabled]="!loginForm.valid || loging"
                class="btn btn-success me-2" 
                type="submit"
            >Login</button>

            <button 
                class="btn btn-secondary"
                type="button" 
                routerLink="/"
            >Cancel</button>
        </div>

    </form>

</div>
