<div class="row mt-3" *ngIf="!loading && games">
    <div class="col-12" *ngFor="let game of games">
        <app-game-for-moderation
            (deleteGame)="deleteGame($event)"
            [game]="game"
        ></app-game-for-moderation>
    </div>
</div>

<div class="d-flex justify-content-center mt-4" *ngIf="!loading && games.length !== 0 && pagination">
    <pagination
        [boundaryLinks]="true"
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [maxSize]="10"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"> 
    </pagination>
</div>