<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

    <div class="container">

        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <img class="main-logo" src="assets/dice.png" alt="logo">
            <a class="navbar-brand" routerLink="/">GameHub</a>

            <ng-container *ngIf="accountService.currentUser$ | async">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/store" routerLinkActive="active">Store</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/players" routerLinkActive="active">Players</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/friends" routerLinkActive="active">Friends</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/messenger" routerLinkActive="active">Messenger</a>
                </li>                
                <li *HasRole="['Admin', 'Moderator']" class="nav-item">
                    <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
                </li>                
            </ng-container>
            <li class="nav-item">
                <a class="nav-link" routerLink="/errors" routerLinkActive="active">Errors</a>
            </li>
            
        </ul>

        <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
            <img class="avatar-img" src="{{user.avatarUrl || './assets/avatar.png'}}" alt="avatar">
            <a class="dropdown-toggle text-success text-decoration-none username-text" dropdownToggle>
                {{user.userName}}
            </a>
            <div class="dropdown-menu" *dropdownMenu>                
                <a class="dropdown-item" routerLink="/edit-profile">Edit Profile</a>
                <a class="dropdown-item" routerLink="/publish">Publish Game</a>
                <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
        </div>

        <div class="g-flex">
            <ng-container *ngIf="!(accountService.currentUser$ | async)">
                <a 
                    class="btn btn-outline-success me-2" 
                    routerLink="/login"
                    routerLinkActive="active"
                >Login</a>
                <a 
                    class="btn btn-outline-success" 
                    routerLink="/register" 
                    routerLinkActive="active"
                >Register</a>
            </ng-container>
        </div>

    </div>

</nav>