.main-logo {
    width: 40px;
    margin-right: 14px;
}

.avatar-img {
    max-height: 38px;
    margin-right: 10px;
    margin-top: -2px;
}

.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

.username-text {
    font-size: larger;
}