<div class="card mb-2 me-2 game-card-mini-button" *ngIf="game" routerLink="/games/{{game.title}}">
    <div class="row">

        <div class="col-2">
            <img 
                class="game-card-mini-img"
                src="{{game.poster.url || './assets/poster.png'}}"
                alt="{{game.title}}"
            >
        </div>

        <div class="col-10">

            <div class="mt-3 d-flex justify-content-between">

                <h4 class="ms-2">
                    {{game.title}}
                </h4>

                <div class="d-inline mt-1 me-3">
                    <h5>
                        <i class="bi bi-windows m-2" *ngIf="game.platforms.windows"></i>
                        <i class="bi bi-apple m-2" *ngIf="game.platforms.macos"></i>
                        <i class="bi bi-ubuntu m-2" *ngIf="game.platforms.linux"></i>
                    </h5> 
                </div>

            </div>       
            
            <div class="d-inline">
                <h6 class="text-muted ms-2 d-inline" *ngIf="game.genres.action">Action</h6>
                <h6 class="text-muted ms-2 d-inline" *ngIf="game.genres.adventure">Adventure</h6>
                <h6 class="text-muted ms-2 d-inline" *ngIf="game.genres.card">Card</h6>
                <h6 class="text-muted ms-2 d-inline" *ngIf="game.genres.educational">Educational</h6>
                <h6 class="text-muted ms-2 d-inline" *ngIf="game.genres.fighting">Fighting</h6>
                <h6 class="text-muted ms-2 d-inline" *ngIf="game.genres.horror">Horror</h6>
                <h6 class="text-muted ms-2 d-inline" *ngIf="game.genres.platformer">Platformer</h6>
                <h6 class="text-muted ms-2 d-inline" *ngIf="game.genres.puzzle">Puzzle</h6>
                <h6 class="text-muted ms-2 d-inline" *ngIf="game.genres.racing">Racing</h6>
                <h6 class="text-muted ms-2 d-inline" *ngIf="game.genres.rhythm">Rhythm</h6>
                <h6 class="text-muted ms-2 d-inline" *ngIf="game.genres.roleplay">Roleplay</h6>
                <h6 class="text-muted ms-2 d-inline" *ngIf="game.genres.shooter">Shooter</h6>
                <h6 class="text-muted ms-2 d-inline" *ngIf="game.genres.simulation">Simulation</h6>
                <h6 class="text-muted ms-2 d-inline" *ngIf="game.genres.sport">Sport</h6>
                <h6 class="text-muted ms-2 d-inline" *ngIf="game.genres.stealth">Stealth</h6>
                <h6 class="text-muted ms-2 d-inline" *ngIf="game.genres.strategy">Strategy</h6>
                <h6 class="text-muted ms-2 d-inline" *ngIf="game.genres.survival">Survival</h6>
            </div> 
            
        </div>

    </div>
</div>