<div class="tab-panel">
    <tabset class="custom-tabset">

        <tab heading="Active Friends">
            <div class="container">
                <app-friends-list 
                    (deleteCards)="deleteActiveFriend($event)" 
                    [players]="activeFriends"
                    [loading]="loading"
                ></app-friends-list>
            </div>
        </tab>

        <tab heading="Income Requests">
            <div class="container">
                <app-income-requests 
                    (deleteCards)="deleteIncomeRequest($event)" 
                    [players]="incomeRequests"
                    [loading]="loading"
                ></app-income-requests>
            </div>
        </tab>

        <tab heading="Outcome Requests">
            <div class="container">
                <app-outcome-requests 
                    (deleteCards)="deleteOutcomeRequest($event)" 
                    [players]="outcomeRequests"
                    [loading]="loading"
                ></app-outcome-requests>
            </div>
        </tab>

    </tabset>
</div>