<div class="row" *ngIf="game">
        
    <div class="col-8">
        <div class="alert alert-warning changes-alert mx-1" *ngIf="editForm.dirty">
            <p>You have made changes. Any unsaved changes will be lost.</p>
        </div>
    </div>
    <div class="col-4 my-2">
        <h2 class="text-center text-info">Edit Game</h2>
    </div>
    <div class="col-8">
        <tabset class="custom-tabset">
            
            <tab heading="About">
                <form [formGroup]="editForm" (ngSubmit)="editForm.valid && updateGame()" autocomplete="off">

                    <h4 class="mt-4 text-warning">Title</h4>
                    <app-text-input
                        [formControl]="$any(editForm.get('title'))"
                        [label]="'Title'"
                    ></app-text-input>

                    <h4 class="mt-4 text-warning">Description</h4>
                    <app-textarea-input 
                        [formControl]="$any(editForm.get('description'))"
                        [label]="'Description'"
                    ></app-textarea-input>

                    <h4 class="mt-4 text-warning">Platforms</h4>
                    <div class="row" formGroupName="platforms">
                        <app-checkbox-input class="col-2"
                            [formControl]="$any(editForm.get('platforms.windows'))"
                            [label]="'Windows'"
                        ></app-checkbox-input>
                        <app-checkbox-input class="col-2"
                            [formControl]="$any(editForm.get('platforms.macos'))"
                            [label]="'MacOS'"
                        ></app-checkbox-input>
                        <app-checkbox-input class="col-2"
                            [formControl]="$any(editForm.get('platforms.linux'))"
                            [label]="'Linux'"
                        ></app-checkbox-input>
                    </div>

                    <h4 class="mt-4 text-warning">Genres</h4>
                    <div class="row" formGroupName="genres">
                        <app-checkbox-input class="col-2"
                            [formControl]="$any(editForm.get('genres.action'))"
                            [label]="'Action'"
                        ></app-checkbox-input>
                        <app-checkbox-input class="col-2"
                            [formControl]="$any(editForm.get('genres.adventure'))"
                            [label]="'Adventure'"
                        ></app-checkbox-input>
                        <app-checkbox-input class="col-2"
                            [formControl]="$any(editForm.get('genres.card'))"
                            [label]="'Card'"
                        ></app-checkbox-input>
                        <app-checkbox-input class="col-2"
                            [formControl]="$any(editForm.get('genres.educational'))"
                            [label]="'Educational'"
                        ></app-checkbox-input>
                        <app-checkbox-input class="col-2"
                            [formControl]="$any(editForm.get('genres.fighting'))"
                            [label]="'Fighting'"
                        ></app-checkbox-input>
                        <app-checkbox-input class="col-2"
                            [formControl]="$any(editForm.get('genres.horror'))"
                            [label]="'Horror'"
                        ></app-checkbox-input>
                        <app-checkbox-input class="col-2"
                            [formControl]="$any(editForm.get('genres.platformer'))"
                            [label]="'Platformer'"
                        ></app-checkbox-input>
                        <app-checkbox-input class="col-2"
                            [formControl]="$any(editForm.get('genres.puzzle'))"
                            [label]="'Puzzle'"
                        ></app-checkbox-input>
                        <app-checkbox-input class="col-2"
                            [formControl]="$any(editForm.get('genres.racing'))"
                            [label]="'Racing'"
                        ></app-checkbox-input>
                        <app-checkbox-input class="col-2"
                            [formControl]="$any(editForm.get('genres.rhythm'))"
                            [label]="'Rhythm'"
                        ></app-checkbox-input>
                        <app-checkbox-input class="col-2"
                            [formControl]="$any(editForm.get('genres.roleplay'))"
                            [label]="'Roleplay'"
                        ></app-checkbox-input>
                        <app-checkbox-input class="col-2"
                            [formControl]="$any(editForm.get('genres.shooter'))"
                            [label]="'Shooter'"
                        ></app-checkbox-input>
                        <app-checkbox-input class="col-2"
                            [formControl]="$any(editForm.get('genres.simulation'))"
                            [label]="'Simulation'"
                        ></app-checkbox-input>
                        <app-checkbox-input class="col-2"
                            [formControl]="$any(editForm.get('genres.sport'))"
                            [label]="'Sport'"
                        ></app-checkbox-input>
                        <app-checkbox-input class="col-2"
                            [formControl]="$any(editForm.get('genres.stealth'))"
                            [label]="'Stealth'"
                        ></app-checkbox-input>
                        <app-checkbox-input class="col-2"
                            [formControl]="$any(editForm.get('genres.strategy'))"
                            [label]="'Strategy'"
                        ></app-checkbox-input>
                        <app-checkbox-input class="col-2"
                            [formControl]="$any(editForm.get('genres.survival'))"
                            [label]="'Survival'"
                        ></app-checkbox-input>
                    </div>

                    <div class="row ms-4" *ngIf="validationErrors">
                        <ul class="text-danger">
                            <li *ngFor="let error of validationErrors">
                                {{error}}
                            </li>
                        </ul>
                    </div>

                    <div class="row">
                        <button
                            class="btn btn-outline-success mt-4 col-4 mx-auto"
                            type="submit"
                            [disabled]="!editForm.dirty || !editForm.valid"
                            >Save changes&nbsp;&nbsp;&nbsp;
                            <i class="bi bi-floppy"></i>
                        </button>
                    </div>

                </form>
            </tab>

            <tab heading="Screenshots">
                <app-screenshot-editor [game]="game"></app-screenshot-editor>
            </tab>

        </tabset>
    </div>
    
    <div class="col-4">
        <div class="card">

            <img 
                src="{{game.poster.url || './assets/poster.png'}}"
                alt="{{game.title}}"
                class="card-img-top img-thumbnail"
            >

            <div class="row mb-4" *ngIf="uploader">
                <div class="row">
                    <div class="col-8">
                        <div class="progress mb-2 custom-bar">
                            <div 
                                class="progress-bar" 
                                role="progressbar" 
                                [ngStyle]="{ 'width': uploader.progress + '%' }"
                            ></div>
                        </div> 
                    </div>
                    <div class="col-4 custom-bytes">
                        <h6 *ngIf="uploader.queue.length > 0">
                            {{uploader.queue[0].file.size/1024/1024 | number:'.2'}} mb
                        </h6>
                        <h6 *ngIf="uploader.queue.length === 0">
                            0.000 mb
                        </h6>
                    </div>
                </div>
                 
                <div class="row custom-input">
                    <div style="width: 138px;" class="ms-4">
                        <input class="form-control-info" type="file" ng2FileSelect [uploader]="uploader">
                    </div>
                    <button type="button" class="btn btn-outline-success btn-sm uploader-button"
                        (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                        Edit poster&nbsp;&nbsp;&nbsp;<span class="fa fa-upload"></span>
                    </button>
                </div>
            </div>

            <div class="card-body">
                <div>
                    <h3 class="mb-4">{{currentTitle}}</h3>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex mb-2">
                    <button class="btn btn-outline-danger">
                        Delete game&nbsp;&nbsp;&nbsp;
                        <i class="bi bi-trash3"></i>
                    </button>
                </div>                
            </div>
            
        </div>   
    </div>

</div>