<div class="row" *ngIf="game">
        
    <div class="col-8">
        <div class="alert alert-warning changes-alert mx-1" *ngIf="editForm.dirty">
            <p>You have made changes. Any unsaved changes will be lost.</p>
        </div>
    </div>
    <div class="col-4 my-2">
        <h2 class="text-center">Edit Game</h2>
    </div>
    
    <div class="col-8">
        <tabset class="custom-tabset">

            <tab heading="About">

                <form #editForm="ngForm" (ngSubmit)="updateGame()">

                    <h4 class="mt-2">Title: </h4>
                    <input
                        class="form-control"
                        [(ngModel)]="game.title"
                        name="title"
                    >
                    
                    <h4 class="mt-2">Description: </h4>
                    <textarea
                        class="form-control"
                        [(ngModel)]="game.description"
                        name="description"
                        rows="6"
                    ></textarea>

                    <div class="row">
                        <button
                            class="btn btn-outline-success mt-4 col-4 mx-auto"
                            type="submit"
                            [disabled]="!editForm.dirty"
                            >Save changes&nbsp;&nbsp;&nbsp;
                            <i class="bi bi-floppy"></i>
                        </button>
                    </div>

                </form>

            </tab>

            <tab heading="Screenshots">
                <app-screenshot-editor [game]="game"></app-screenshot-editor>
            </tab>

        </tabset>
    </div>
    
    <div class="col-4">
        <div class="card">
            <img 
                src="{{game.poster.url || './assets/poster.png'}}"
                alt="{{game.title}}"
                class="card-img-top img-thumbnail"
            >

            <div class="row mb-4" *ngIf="uploader">
                <div class="row">
                    <div class="col-8">
                        <div class="progress mb-2 custom-bar">
                            <div 
                                class="progress-bar" 
                                role="progressbar" 
                                [ngStyle]="{ 'width': uploader.progress + '%' }"
                            ></div>
                        </div> 
                    </div>
                    <div class="col-4 custom-bytes">
                        <h6 *ngIf="uploader.queue.length > 0">
                            {{uploader.queue[0].file.size/1024/1024 | number:'.2'}} mb
                        </h6>
                        <h6 *ngIf="uploader.queue.length === 0">
                            0.000 mb
                        </h6>
                    </div>
                </div>
                 
                <div class="row custom-input">
                    <div style="width: 138px;" class="ms-4">
                        <input class="form-control-info" type="file" ng2FileSelect [uploader]="uploader">
                    </div>
                    <button type="button" class="btn btn-outline-success btn-sm uploader-button"
                        (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                        Edit poster&nbsp;&nbsp;&nbsp;<span class="fa fa-upload"></span>
                    </button>
                </div>
            </div>

            <div class="card-body">
                <div>
                    <h3 class="mb-4">{{game.title}}</h3>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex mb-2">
                    <button class="btn btn-outline-danger">
                        Delete game&nbsp;&nbsp;&nbsp;
                        <i class="bi bi-trash3"></i>
                    </button>
                </div>                
            </div>
        </div>   
    </div>

</div>