<div class="mt-2" *ngIf="!loading && reviews.length !== 0">
    <div class="col-12" *ngFor="let review of reviews">
        <app-review-for-moderation
            (approveReview)="approveReview($event)"
            (rejectReview)="rejectReview($event)"
            [review]="review"
        ></app-review-for-moderation>
    </div>
</div>
<div [hidden]="loading" *ngIf="reviews.length === 0">
    <h5 class="text-center my-4">No reviews found</h5>
</div>

<div class="d-flex justify-content-center mt-4" *ngIf="!loading && reviews.length !== 0 && pagination">
    <pagination
        [boundaryLinks]="true"
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [maxSize]="10"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"> 
    </pagination>
</div>