<div class="card m-2 player-card-button" *ngIf="player" routerLink="/players/{{player.userName}}">
    <div class="row">
        <div class="col-3">
            <img 
                class="player-card-img ms-4"
                src="{{player.avatar.url || './assets/avatar.png'}}"
                alt="{{player.userName}}"
            >
        </div>
        <div class="col-9">

            <h5 class="text-right mt-3">
                {{player.userName}}
            </h5>

            <ng-container  *ngIf="presenceService.onlineUsers$ | async as onlineUsers">

                <h6 
                    *ngIf="onlineUsers.includes(player.userName); else offline"
                    class="text-info text-right"
                >
                    Online
                </h6>

                <ng-template #offline>

                    <h6 
                        class="text-muted text-right"
                    >
                        Last Online: {{ player.lastActive + 'Z' | timeago }}
                    </h6>
                    
                </ng-template>

            </ng-container>

        </div>
    </div>
</div>